.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
}

.vote-button {
  display: block;
  margin: 10px auto;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #FF4500;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80%;
  position: relative;
}

.vote-count {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.8;
}

.vote-page input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.cancel-button {
  background-color: #FF6347;
}

.result-page {
  padding: 20px;
}

.voted-option {
  font-size: 24px;
  font-weight: bold;
}

.subscribe-button {
  background-color: #ADFF2F;
}

.back-button {
  background-color: #FF4500;
}
